fire==0.7.0
jaconv==0.4.0
keyboard==0.13.5
langdetect==1.0.9
loguru==0.7.3
numpy
opencv_python==4.11.0.86
Pillow==11.1.0
PyAutoGUI==0.9.54
pyperclip==1.9.0
python-dotenv==1.0.1
pywin32==308
torch==2.6.0
transformers==4.49.0
ultralytics==8.3.78
# manga-ocr==0.1.14
fugashi
unidic-lite
transformers[sentencepiece]
sacremoses
